.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  color: white;
}

.App-body {
  padding-top: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-logo-style {
  margin-top: 200px;
}

.small-logo-style {
  max-width: 10px;
  max-height: 10px;
}
